<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the Template</h1>
    <h2>First paragraph</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ad commodi facere quis ratione voluptatem, deleniti fugit voluptate expedita itaque distinctio, magni ipsum aperiam suscipit asperiores. Natus molestiae blanditiis impedit?</p>
    <h3>Second paragraph</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quia, omnis et consequatur perferendis adipisci quod, quos reiciendis corrupti non eaque sequi. Dolorum provident illum adipisci, recusandae quam qui iure.</p>
</body>
</html>